# https://github.com/cilium/cilium/blob/v1.14.4/install/kubernetes/cilium/values.yaml
image:
  repository: {{ registry.mirror_quay_io }}/cilium/cilium

certgen:
  image:
    repository: {{ registry.mirror_quay_io }}/cilium/certgen

relay:
  # -- Enable Hubble Relay (requires hubble.enabled=true)
  enabled: true
  image:
    repository: {{ registry.mirror_quay_io }}/cilium/hubble-relay

ui:
  # -- Whether to enable the Hubble UI.
  enabled: true
  backend:
    # -- Hubble-ui backend image.
    image:
      repository: {{ registry.mirror_quay_io }}/cilium/hubble-ui-backend
  frontend:
    # -- Hubble-ui frontend image.
    image:
      repository: {{ registry.mirror_quay_io }}/cilium/hubble-ui

operator:
  # -- Enable the cilium-operator component (required).
  enabled: true
  # -- cilium-operator image.
  image:
    repository: {{ registry.mirror_quay_io }}/cilium/operator

apiserver:
  # -- Clustermesh API server image.
  image:
    repository: {{ registry.mirror_quay_io }}/cilium/clustermesh-apiserver
