# {{ cluster.name }}-kubernetes
{% for host in groups['control_planes'] %}
{{ hostvars[host].ansible_host }} {{ host -}}
{% if loop.first %}
 {{ k8s.control_plane_endpoint }} {{ dashboard.host -}}
{% elif loop.index == 2 %}
{% if harbor.enabled %}
 {{ harbor.host -}}
{% endif %}
{% if kubevela.enabled %}
 {{ kubevela.host -}}
{% endif %}
{% if gitlab.enabled %}
 {{ gitlab.host -}}
{% endif %}
{% endif %}
{{ "" }}
{% endfor %}
{% for host in groups['workers'] %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
