apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: harbor-tls-cert
  namespace: harbor
# https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.Certificate
spec:
  isCA: false
  commonName: "Harbor of {{ cluster.desc_name }}"
  secretName: harbor-tls-secret
  duration: {{ cert.duration }}
  renewBefore: {{ cert.renew_before }}
  subject:
    countries:
      - "{{ cert.subject.country }}"
    provinces:
      - "{{ cert.subject.province }}"
    localities:
      - "{{ cert.subject.locality }}"
    organizations:
      - "{{ cluster.desc_name }}"
    organizationalUnits:
      - "DevOps"
  dnsNames:
    - "{{ harbor.host }}"
    - "*.{{ harbor.host }}"
  emailAddresses:
    - "{{ cluster.admin_email }}"
  privateKey:
    algorithm: {{ cert.private_key.algorithm }}
    size: {{ cert.private_key.size }}
  issuerRef:
    name: "{{ cert.cluster_issuer_name }}"
    kind: ClusterIssuer
    group: cert-manager.io
