# https://github.com/kubernetes/ingress-nginx/blob/helm-chart-4.8.4/charts/ingress-nginx/values.yaml
controller:
  image:
    registry: {{ registry.mirror_registry_k8s_io }}
    image: ingress-nginx/controller
    tag: v1.9.4

  service:
    type: NodePort
    nodePorts:
      http: 80
      https: 443
      tcp:
      {% if gitlab.enabled %}
        30022: 30022
      {% endif %}

  metrics:
    port: 10254
    portName: metrics
    # if this port is changed, change healthz-port: in extraArgs: accordingly
    enabled: true
    serviceMonitor:
      enabled: false
      namespaceSelector:
        any: true

  admissionWebhooks:
    patch:
      image:
        registry: {{ registry.mirror_registry_k8s_io }}
        image: ingress-nginx/kube-webhook-certgen
        tag: v20231011-8b53cabe0

  ## This section refers to the creation of the IngressClass resource
  ## IngressClass resources are supported since k8s >= 1.18 and required since k8s >= 1.19
  ingressClassResource:
    # -- Name of the ingressClass
    name: nginx
    # -- Is this ingressClass enabled or not
    default: true

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists

## Default 404 backend
defaultBackend:
  enabled: true
  name: defaultbackend
  image:
    registry: {{ registry.mirror_registry_k8s_io }}
    image: defaultbackend-amd64

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists

# -- TCP service key-value pairs
## Ref: https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/exposing-tcp-udp-services.md
##
tcp:
{% if gitlab.enabled %}
  30022: "gitlab/gitlab-gitlab-shell:30022"
{% endif %}
